name: Just Build Docker

on:
  pull_request:
    branches: ["main"]

env:
  JWT_SECRET: "XXXXXXXXXXXXXXXXXXTEST=="
  APP_KEYS: "XXXXXXXXXXXXXXXXXXTEST==,XXXXXXXXXXXXXXXXXXTEST==,XXXXXXXXXXXXXXXXXXTEST==,XXXXXXXXXXXXXXXXXXTEST=="
  API_TOKEN_SALT: "XXXXXXXXXXXXXXTEST=="
  ADMIN_JWT_SECRET: "XXXXXXXXXXXTEST=="
  S3_BUCKET: "bucket"
  S3_ACCESS_KEY_ID: "ACCESS_KEY_ID"
  S3_ACCESS_SECRET: "S3_ACCESS_SECRET"
  S3_ENDPOINT: "localhost"
  S3_SSL: false
  S3_PORT: 9000
  API_URL: "localhost:1337"
  DEEPL_API_KEY: ""
  DEEPL_API_URL: ""

jobs:
  just-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use and cache Node 20.x Yarn
        uses: actions/setup-node@v5
        with:
          cache: 'yarn'
          node-version: 20.x
      - name: Yarn install and build
        run: |
          yarn install --frozen-lockfile
          yarn build
      - name: Try Building image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ secrets.APP_IMAGE }}
